.card {
font-family:courier;
margin:0;
width:auto;
height:auto;
margin-top:20px;
text-align:center;
padding:20px;
box-shadow:3px 3px 40px 3px black;
border-radius:10px;
margin:3%;
}

.img-dalto {
  width: 100px;
  height:100px;
  border-radius: 100%;
}

.title-h1{
  margin:0;
  margin-top:20px;
}
.subtitle{
  margin:0;
  margin-bottom:20px;
}

.content{
  color:white;
  margin:0;
  text-align:justify;
}

.card-green{
  background-color:green ;
}
.card-blue{
  background-color:blue ;
}
.card-red{
  background-color:red ;
}
